@keyframes moveInLeft {
 0% {

  transform: translate(85%, 30%);
 }

 50% {
  z-index: 1;
  transform: translate(-30%, 30%);
 }

 70% {
  z-index: 6;
  transform: translate(10%, 30%);
 }

 100% {
  z-index: 6;
  transform: translate(85%, 30%);
 }
}

@keyframes moveInRight {
 0% {

  transform: translate(-10%, 90%);
 }

 50% {
  transform: translate(60%, 90%);
  z-index: 5;
 }

 70% {
  transform: translate(120%, 90%);

  z-index: 5;
 }

 100% {
  z-index: 1;
  transform: translate(-10%, 90%);
 }
}

@keyframes moveInCenter {
 0% {

  transform: translate(80%, 120%);
 }

 50% {
  transform: translate(160%, 110%);

  z-index: 6;
 }

 70% {
  transform: translate(-10%, 130%);

  z-index: 1;
 }

 100% {

  transform: translate(80%, 120%);
  z-index: 6;
 }
}